* {
  box-sizing: border-box;
  font-weight: 100;
}

html {
  font-family: 'Maison Neue Book';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #2a2a2a;
  background: -moz-linear-gradient(top, #2a2a2a 0%, #0c0c0c 100%);
  background: -webkit-linear-gradient(top, #2a2a2a 0%, #0c0c0c 100%);
  background: linear-gradient(to bottom, #2a2a2a 0%, #0c0c0c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a2a2a', endColorstr='#0c0c0c', GradientType=0);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Maison Neue Book';
  font-weight: 500;
}

p {}

a {}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  width: 100%;
  margin: 0 auto;
  display: table;
}

.left {
  display: table-cell;
  width: 73px;
  height: 100vh;
  background-color: rgba(250, 250, 250, .1);
}

.right {
  display: table-cell;
  vertical-align: top;
  width: calc(100% - 73px);
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  padding-left: 73px;
  padding-right: 73px;
}

.logo {
  width: 60%;
  max-width: 60px;
  margin: 0 auto;
  display: block;
  margin-top: 64px;
  margin-bottom: 73px;
}

.currentTab {
  background-color: rgba(250, 250, 250, .1);
  height: 73px;
  border-left: 1px solid white;
  position: relative;
}

.tab {
  height: 73px;
  position: relative;
}

.icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 50px;
}

.row1 {
  position: relative;
  width: 100%;
  height: 17%;
  display: flex;
  align-items: center;
  min-height: 10em;
}

.row1-table {
  display: flex;
  width: 100%;
}

.row1-table-cell {
  display: block;
}

.row1-table-cell-left {
  width: 30%;
}

.row1-table-cell-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.weatherList, .infoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.infoList {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 45px;
}

.weatherListItem, .infoListItem {
  display: inline;
  padding-right: 0;
  margin-left: 25px;
  font-family: 'Maison Neue Book';
  font-size: 14px;
}

.row2 {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #0077FF;
}

.grid {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 45px
}

.row3 {
  position: relative;
  width: 100%;
  /* height: 30%; */
}

.time {
  font-size: 6em;
  color: rgba(250, 250, 250, .7);
  margin: 0;
  padding: 0;
}

.date {
  margin: 0;
  padding: 0;
  color: rgba(250, 250, 250, .7);
  letter-spacing: 1px;

}

.grid-col {
  width: 33%;
  text-align: center;
}

.grid-col-2 {
      max-width: 235px;
}

.speed, .gear {
  position: relative;
  margin: 0 auto;
  background-image: url("speed.svg");
  width: 293px;
  height: 294px;
}

.gear {
  /* background-image: url("gear.svg"); */
}

.shuffle {
  /* height: .1em; */
  float: left;
}

.currently-info-wrap {
  width: 235px;
  margin: 0 auto;
}

.gear-text {
  top: 22%;
  left: 38%;
  position: absolute;
}

.chart {
  margin: 0 auto;
  margin-bottom: 12px;
}

.speed-text {
  position: absolute;
  top: 20%;
  left: 24%;
}

.speed-number, .gear-number {
  font-size: 130px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.speed-bottom, .speed-top, .gear-top, .currenlty-time  {
  color: #0077FF;
  font-weight: 100;
  font-size: 14px;
  font-family: 'Maison Mono Regular';
  margin: 0;
  padding: 0;
}

.gear-top, .speed-text, .list-mono {
  font-family: 'Maison Mono Regular';
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.currenlty-time {
  float: right;
  display: inline-block;
  padding:0;
  margin: 0;
}

.speed-top {
  margin-bottom: 14px;
}

.list-mono {
  display: inline-block;
}

.mono-icon {
  vertical-align: middle;
  margin-right: 9px;
}

/* fonts */
@font-face {
  font-family: 'Maison Neue Book';
  src: url("fonts/Maison Neue Book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Maison Neue Book.eot?#iefix") format("embedded-opentype"), url("fonts/Maison Neue Book.woff") format("woff"), url("fonts/Maison Neue Book.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue Bold';
  src: url("fonts/Maison Neue Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Maison Neue Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Maison Neue Bold.woff") format("woff"), url("fonts/Maison Neue Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Maison Mono Regular';
  src: url("fonts/Maison Mono Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Maison Mono Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Maison Mono Regular.woff") format("woff"), url("fonts/Maison Mono Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
